/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"); */

.active_link {
  -webkit-text-stroke: 1px #3c2cce;
  font-weight: bold;
}
body {
  background-color: #eee6ca;
  font-family: "Open Sans", sans-serif;
}
/* стилі заголовка*/

.mobile-menu {
  display: none;
}

header {
  min-height: 235px;
  margin: 0 30px;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
}
.hamburger {
  display: none;
}

#logo {
  display: flex;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}
li {
  display: flex;
  justify-content: space-around;
}
ul > li > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 26px;
  font-weight: 400;
}
/*----стилі основної частини*/
main {
  margin: 0 30px 30px 30px;
}

main > h1 {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
}

main > p {
  font-size: 25px;
  font-weight: 400;
}

main > div {
  width: 940px;
  margin: auto;
}

main > div > img {
  border-radius: 50px;
}
footer {
  min-height: 280px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.footer {
  text-align: center;
}

#adress {
  font-weight: 300;
  font-size: 25px;
}

@font-face {
  font-family: "Caveat2";
  src: url("Caveat/static/Caveat-Regular.ttf");
}

#copyright {
  font-family: "Caveat2", cursive;
  font-size: 25px;
  font-weight: bold;
}

#phone {
  font-size: 40px;
  font-weight: 600;
}

#mail,
#mail > a {
  color: black;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
}

#social,
#social > a {
  font-size: 50px;
  text-decoration: none;
  margin: 0;
}

#social > a > i {
  color: #000;
}

#social > a > i:hover {
  color: #eee6ca;
}
.conteiner-1 {
  width: 800px;
  height: 532px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}
.conteiner-1 > p {
  font-size: 25px;
  line-height: 160%;
}

#Special-text {
  font-family: "Caveat/static/Caveat-Regular.ttf";
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.conteiner-2 {
  display: flex;
  justify-content: space-around;
  gap: 260px;
}

.conteiner-3 {
  display: flex;
  justify-content: space-around;
}
.conteiner-3 > img {
  display: block;
  margin-left: 150px;
  margin-right: 50px;
  width: 480px 290px;
  margin-top: 50px;
}
